@page "/add-student"
@inject IStudentService StudentService

<h3>Add Student</h3>
@if (!string.IsNullOrEmpty(message))
{
    <div class="fw-bold"> @message</div>
}

<div class="form-group">
    <label>First Name:</label>
    <input @bind="student.FirstName" class="form-control" />
</div>

<div class="form-group">
    <label>Last Name:</label>
    <input @bind="student.LastName" class="form-control" />
</div>

<div class="form-group">
    <label>National ID:</label>
    <input @bind="student.NationalId" class="form-control" />
</div>

<div class="form-group">
    <label>Birth Date:</label>
    <input type="date" @bind="student.BirthOfDate" class="form-control" />
</div>

<div class="form-group">
    <label>Address:</label>
    <input @bind="student.Address" class="form-control" />
</div>

<div class="form-group">
    <label>Gender:</label>
    <input @bind="student.Gender" placeholder="M or F" class="form-control" />

</div>

<button @onclick="AddNewStudent" class="btn btn-primary">Add Student</button>


